.about {
    position: relative;
    margin-top: 152px;
    display: flex;
}

.about__background {
    position: absolute;
    z-index: -5;
    bottom: -80px;
}

.about__content {
    background: url(../../img/mountains.png);
    background-repeat: no-repeat;
    max-width: 785px;
    height: 455px;
    position: absolute;
    top: 97px;
    right: 381px;
    padding: 71px 202px 71px 81px;
}

.title--color {
    color: black;
    margin-bottom: 37px;
}

.about__subtitle {
    color: black;
    margin-top: 0px;
    margin-bottom: 43px;
}