.button {
    display: inline-flex;
    font-weight: bold;
    font-size: 14px;
    color: inherit;
    background: #f7160e;
    border-radius: 35px;
    padding: 18px 40px;
    text-transform: uppercase;
}

.button:hover {
    background: #a5100b;
    transition: .5s;
}