.pagination {
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

.pagination__list {
    display: flex;
    list-style: none;
    margin: 0px;
    padding-left: 0px;
    margin-left: 36px;
}

.pagination__item {
    text-align: center;
    font-weight: bold;
    min-width: 32px;
    min-height: 32px;
    cursor: pointer;
}

.pagination__button:hover {
    color: #F5170E;
    background-color: #fff;
    padding: 5px 11px;
    border-radius: 50px;
}

.pagination--color {
    color: black;
    margin-top: 0px;
    padding-bottom: 90px;
}

.pagination__button--color:hover {
    color: #fff;
    background: red;
}